<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<title>
		{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}
	</title>

	<!-- Icon -->
	<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

	<!-- JS -->
	<script type="text/javascript" src="{{site.baseurl}}/js/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/jquery/plugins/toTop.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/index.js"></script>
</head>