body{
	background-color: #FFFFFF;
	color: #54565B;
	padding: 0px;
	font-family: Raleway-Medium;
	font-size: 14px;
}

.size34{font-size: 34px;}

.RalewayExtraBold{font-family: Raleway-ExtraBold;}
.RalewayBold{font-family: Raleway-Bold;}
.RalewaySemiBold{font-family: Raleway-SemiBold;}

* b, * strong , b *, strong *{font-family: Raleway-ExtraBold !important;}

.bottom-space{margin-bottom: 25px;}

.top-space{margin-top: 25px;}
.top-small-space{margin-top: 15px;}
.top-mini-space{margin-top: 5px;}

.left-big-space{margin-left: 50px;}
.left-space{margin-left: 25px;}

.noPadding{padding: 0px !important;}

a, a:hover, a:visited, a:focus, a:active{color: #54565B; text-decoration: none;}

.blue, a.blue:hover, a.blue:visited, a.blue:focus, a.blue:active{color: #00AEBC;}